body {
    margin: 0;
    padding: 0;
    background-color: #0f1114;
    color: white;
}

footer {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: auto;
}

#banner {
    max-width: 100%;
    max-height: 100%;
    display: block; /* used because else 4 pixels missing in bottom, image doesnt take full height header */
}

main {
    background-color: #202730;
    width: 75%;
    margin: auto;
}

ul {
    list-style-type: none;
}

#menu_user {
    background-color: #222222;
    padding: 0 75px;
}

#menu_user_list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 16px 25px;
}

#black_block {
    background-color: #0f1114;
    margin: 0 auto;
    width: 95%;
    height: 80px;
    min-height: 20px;
}

#news {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 40px auto;
    width: 95%;
}

#news_time {
    color: #57636b;
}

#new_last_visit {
    margin-bottom: 0;
}

#new_hour {
    margin-top: 5px;
}

#news_messages {
    text-align: right;
    text-decoration: underline;
}

#news_messages p {
    margin-bottom: 0;
}

#new_all_messages {
    margin-top: 5px;
}

#new_unanswered_messages {
    margin-top: 5px;
}

#onglets_display_rp {
    width: 95%;
    background-color: #0f1114;
    margin: auto;
    font-size: 1.7em;
}

#onglets_category_rp {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#onglets_category_rp li {
    padding: 15px 0;
}

#onglets_category_rp li:first-child {
    color: #99772b;
    font-size: 1.2em;
}

#display_selected_onglet {
    width: 95%;
    margin: 5px auto;
    padding: 12px 0;
    background-color: #0f1114;
    text-align: center;
    font-size: 3em;
    color: #99772b;
}

#subs_category_rp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    margin: 10px auto;
    width: 95%;
    height: 450px;
}

/* ci-dessous : selectionne le 3eme enfant de subs_category_rp, puis le resume, puis le titre pour ne modifier que celui la !*/
#subs_category_rp :nth-child(3) .resume_sub_category .sub_category_title {
    font-size: 0.9em;
}

.sub_category_rp {
    width: 45%;
    height: 200px;
    display: flex;

}

.sub_category_image {
    width: 200px;
    height: 200px;
    object-fit: fill;
}

.resume_sub_category {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #384152;
}

.sub_category_title {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    border-bottom: 1px #0f1114 solid;
    padding: 5px 0;
    color: black;
}

.sub_category_main_block {
    height: 70%;
    
}

.sub_category_resume {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.sub_category_miniature {
    width: 75px;
    height: 50px;
    object-fit: cover;
}

.sub_category_message_number {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0f1114;
    width: 75px;
    height: 50px;
}

.sub_category_message_number p {
    text-align: center;
    margin: 8px auto 0 auto;
}

.sub_category_topic_number {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #0f1114;
    width: 75px;
    height: 50px;
}

.sub_category_text {
    text-align: center;
    margin: 15px 5px;
}

.sub_category_last_post {
    display: flex;
    justify-content: space-around;
    align-content: center;
    border-top: 1px #0f1114 solid;
    font-size: 0.7em;
}

.sub_category_last_post p {
    margin: 5px auto;
}

#news_from_subject {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
    margin: auto;
    padding-bottom: 15px;
}

#marked_as_read {
    text-decoration: underline;
}

#new_popularity {
    text-align: right;
    text-decoration: underline;
}

#new_popularity p {
    margin: 2px;
}

#credit {
    background-color: #202730;
    height: 100px;
    margin-top: 15px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#tutch {
    margin: 0;
    font-size: 1.5em;
}

.fixed-top {
    position: fixed;
    width: calc(100% - 150px); /*must do because fixed position cancel padding, so i have to reduce with by 75x2 (each side) so i have a smooth transition) */
    top: 0;
    left: 0;
}

@media screen and (min-width: 427px) and (max-width: 1024px) {
    #menu_user_list {
        flex-wrap: wrap;
        justify-content: center;
        line-height: 25px;
    }

    .list_category {
        text-align: center;
        padding-top: 5px;
        margin: 0 10px;
    }

    #onglets_category_rp {
        height: 150px;
        flex-wrap: wrap;
    }

    .list_category {
        padding: 0 15px;
    }

    .category_rp {
        margin: 0 25px;
    }

    #subs_category_rp {
        flex-direction: column;
        height: 900px;
        align-content: center;
    }

    .sub_category_rp {
        width: auto;
    }
}

@media screen and (max-width: 426px) {
    #menu_user_list {
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 0;
    }

    .list_category {
        text-align: center;
        padding-top: 5px;
        margin: 0 10px;
    }

    #onglets_category_rp {
        flex-direction: column;
    }

    #onglets_category_rp li {
        width: 100%;
        text-align: center;
    }

    #subs_category_rp {
        display: block;
        height: auto;
    }

    .sub_category_rp {
        width: auto;
        margin-bottom: 15px;
    }

    .sub_category_image {
        display: none;
    }
}